-
	var compositions = [
		{
			img: 'img/items1.jpg',
			title: 'Hazelnut',
			content: 'Rich in protein, B, E, carotene and iron, contains up to 80% fat, very similar in composition to olive oil. ',
			delay: '0.1s'
		},
		{
			img: 'img/items2.jpg',
			title: 'Walnut',
			content: 'increases immunity, helps maintain the bodys energy reserves, improves performance ',
			delay: '0.2s'
		},
		{
			img: 'img/items3.jpg',
			title: 'Cashew',
			content: 'contains 18 essential amino acids, has a beneficial effect on immunity, blood cholesterol levels, metabolic processes. Helps with toothache, is a good prevention and support of the body ',
			delay: '0.3s'
		},
		{
			img: 'img/items4.jpg',
			title: 'Almond',
			content: 'Rich in calcium and vitamin E, lowers cholesterol, helps with headaches, improves your memory and vision',
			delay: '0.4s'
		}
	];

	var benefits = [
		{
			img: 'img/benefit_1.png',
			title: 'Snacks with health benefits',
			content: 'Do you like snacks? Nuts with honey are a delicious and healthy snack at work and at home. Nuts are rich in protein, essential amino acids and fats, which is why they are an important part of any diet. The healing effect of honey on the body has more than 300 components found in its composition. Like nuts, honey contains a large complex of vitamins and organic acids. A few tablespoons of our dessert will help maintain efficiency, saturate the body with useful vitamins and minerals.'
		},
		{
			img: 'img/benefit_2.png',
			title: 'Only tested, 100% natural products.',
			content: 'One low-quality nut can spoil the whole jar - we guarantee that this will not happen with our products. We very carefully select all the ingredients for our desserts. We use only proven suppliers. We do for our clients as for ourselves.'
		}
	];

	var benefitButton = 'ORDER';

+b.SECTION.composition
	.container
		+e.items.row
			each composition in compositions
				+e.column.col-12.col-sm-6.col-md-3.wow.fadeInUpBig(data-wow-delay=composition.delay)
					+e.item.flip-container(ontouchstart="this.classList.toggle('hover');")
						+e.item-flipper.flipper
							+e.item-front.front
								+e.item-front-image(src=composition.img)
							+e.item-back.back
								+e.item-back-content
									+e.P.item-back-title=composition.title
									+e.item-back-text
										p=composition.content
		+e.content
			each benefit in benefits
				+e.benefit.row.wow.fadeInUp(data-wow-delay="0.1s")
					.col-12.col-sm-6
						+e.benefit-image
							img(src=benefit.img)
					.col-12.col-sm-6
						+e.benefit-content
							+e.H4.benefit-title.title-md=benefit.title
							+e.benefit-text
								p=benefit.content
							+e.benefit-content-footer
								+b.BUTTON.btn._size-lg._border-brand-1._arrow.effect._bounce-top(data-action="modal" data-open="#modal-form")=benefitButton