-
	var reviewTitle = 'Reviews';
	
	var info = {
		title: 'About us',
		subtitle: 'Contacts',
		email: 'Partynuts2017@gmail.com',
		phone: '+380734505904',
		facebook: {
			link: 'https://www.facebook.com/pg/PartyNuts/reviews/',
			img: 'img/facebook.png'
		}
	}
	
	var reviews = [
		{
			image: 'img/review1.jpg',
			title: 'Stacey shyk',
			content: 'Very tasty honey, and in combination with nuts - a bomb of energy for the body! If you lead an active lifestyle - honey nuts will be an indispensable friend for you! Thanks to the guys for a delicious and, most importantly, useful product!'
		},
		{
			image: 'img/review2.jpg',
			title: 'Alex Vincente',
			content: "Great product, guys! :) I haven't tried this before - a very cool combination of all nuts with honey! Hmmm ...)) The best charge for the brain and energy for the whole day!"
		},
		{
			image: 'img/review3.jpg',
			title: 'Sergey Sevidov',
			content: "I'm the first to try them! It's the perfect balance of vitamins and super delicious. Very convenient snack on the go."
		}
	];

+b.SECTION.review
	+e.container.container
		+e.content
			.row
				+e.column._review.col-12.col-sm-7.wow.fadeInUp
					+e.H3.title.title-md=reviewTitle
					+e.items__.owl-carousel
						each review in reviews
							+e.item
								+e.P.item-title=review.title
								+e.item-content
									p=review.content
								+e.item-footer
									+e.item-image(src=review.image)
				+e.column._info.col-12.col-sm-5.wow.fadeInUp
					+e.H3.title.title-md=info.title
					+e.info
						+e.P.info-subtitle=info.subtitle
						+e.A.info-link(href=info.email)=info.email
						+e.A.info-link(href=info.phone)=info.phone
						+e.A.info-facebook(href=info.facebook.link)
							img(src=info.facebook.img)