-
	var reviewTitle = 'Відгуки';
	
	var info = {
		title: 'Про нас',
		subtitle: 'Контакти',
		email: 'Partynuts2017@gmail.com',
		phone: '+380734505904',
		facebook: {
			link: 'https://www.facebook.com/pg/PartyNuts/reviews/',
			img: 'img/facebook.png'
		}
	}
	
	var reviews = [
		{
			image: 'img/review1.png',
			title: 'Анатолій Павлюк',
			content: 'Брав на Святого Миколая своїм малим. Доставили швидко. Діти з радістю посмакували :) '
		},
		{
			image: 'img/review2.png',
			title: 'Анатолій Павлюк',
			content: 'Брав на Святого Миколая своїм малим. Доставили швидко. Діти з радістю посмакували :) '
		},
		{
			image: 'img/review3.png',
			title: 'Анатолій Павлюк',
			content: 'Брав на Святого Миколая своїм малим. Доставили швидко. Діти з радістю посмакували :) '
		}
	];

+b.SECTION.review
	+e.container.container
		+e.content
			.row
				+e.column._review.col-12.col-sm-7.wow.fadeInUp
					+e.H3.title.title-md=reviewTitle
					+e.items__.owl-carousel
						each review in reviews
							+e.item
								+e.P.item-title=review.title
								+e.item-content
									p=review.content
								+e.item-footer
									+e.item-image(src=review.image)
				+e.column._info.col-12.col-sm-5.wow.fadeInUp
					+e.H3.title.title-md=info.title
					+e.info
						+e.P.info-subtitle=info.subtitle
						+e.A.info-link(href=info.email)=info.email
						+e.A.info-link(href=info.phone)=info.phone
						+e.A.info-facebook(href=info.facebook.link)
							img(src=info.facebook.img)